<!DOCTYPE html>
{% extends "header.html" %}
{% block content%}
{% for profile in profiles %}
<p class="lead my-lead">Profile : {{profile.nickname}}</p> 
{% endfor %}
<div class="hot-header">
</div>
<div class="settings profile-first-part">
          <form action = "{% url 'profile' %}" method = "POST" enctype="multipart/form-data">
             {% csrf_token %}
	       {% for field in form %}  
<div class="divider"> </div>
        <div class="settings settings-not-first-part">
	   <div class="col-md-4"> 
	    <div>
	     <label class="my-label" for="id_{{ field.name }}"> {{field.label}}</label>
	    </div>
	   </div>
 <div class="col-md-5">	 
        {% if field.label == 'avatar' %}

 
        <img src="/static/media/{{user.users_profile.avatar}}" class="img-circle profile-avatar-mainpage-question"> 
	    <div class="input-group profile-input-avatar">
        </div><!-- /input-group -->
           {% endif %} 
        <div class="input-group">
         {{field}}
        </div>
	   </div>
	  </div>
       <div class="col-md-3">
        <div>
        <label>{{field.errors}}</label>
        </div>
        </div> 
	  <div class="divider"> </div>
	{% endfor %} 
	  <div class="divider"> </div>
          <div class="col-md-4"> </div>
          <div class = "col-md-5">
	  <div class="settings profile-not-first-part">
<button type="submit" class="btn btn-lg btn-success profile-btn-save">Save!</button>	   
	   </div>
              </div>
	  </div>
</form>
{% endblock %}



{% block best_tags %}
    {% for tag in best_tags %}
    <div class="tags-cloud-tag">
        {% if tag.tag_size == 0 %}<font class="medium-size-tag">
        {% endif %} 
        {% if tag.tag_size == 1 %}<font class="big-size-tag">
        {% endif %}
        {% if tag.tag_size == 2 %}<font class="very-big-size-tag">
        {% endif %}
        <a>
        {% if tag.tag_color == 0 %}<font color="green">
        {% endif %} 
        {% if tag.tag_color == 1 %}<font color="blue">
        {% endif %}
        {% if tag.tag_color == 2 %}<font color="red">
        {% endif %}
        {{tag.tag_text}}</font></a></font></div> 
    {% endfor %}
{% endblock %}


{% block best_member%}
<ul class="list-unstyled">
    {% for member in members %}
		 <li> <a><p><u> {{ member.member }} </u></p></a> </li>
    {% endfor %}
</ul> 
{% endblock %}


